[submodule "indian-psychologist-app/indian-psychologist-app/packages/accounts-ui"]
	path = indian-psychologist-app/indian-psychologist-app/packages/accounts-ui
	url = https://github.com/idmadj/accounts-ui
